.hero-section {
  font-family: var(--third-family);
}


.hero-welcome {
  animation: pulseText 2.5s ease-in-out infinite;
}

.hero-text {
  max-width: 450px;
}

@keyframes pulseText {
  0% {
    opacity: 0.2;
    text-shadow: 0 0 0 transparent;
  }

  50% {
    opacity: 1;
    text-shadow: 0 0 15px rgba(185, 28, 28, 0.6);
  }

  100% {
    opacity: 0.2;
    text-shadow: 0 0 0 transparent;
  }
}
