@import "tailwindcss";

:root {
  --font-family: var(--montserrat-font), sans-serif;
  --second-family: var(--roboto-font), sans-serif;
  --third-family: var(--griffy-font), sans-serif;
}

body {
  font-family: var(--font-family);
}

.bg-wrapper {
  min-height: 100vh;
  background-image:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.45) 100%
    ),
    url("/bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
